NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=grewhguihiuwerhgirgrihewirghihweirghewrgihierwrr
CLERK_SECRET_KEY=sk_test_igrhgiheiwrhgheiwughiurhguhiulerghgiuheirhgitheir

CLERK_WEBHOOK_SECRET=whsec_werighirghiewulrghliewghegieg

UPLOADTHING_TOKEN='xxxxxxxxxxxxxxxururiiiiiiiiiiiiiiiihgiuehrgierhigheiughieg'

OPENAI_API_KEY=sk...........-------------------ewgewgehetrhebergbver

GEMINI_API_KEY=wrehgu35ibhv87395ty45356t3456546y465y4645y464y66445y6

DATABASE_URL=postgresql://*#$%$####@#@@@@#$$^^%^&&&&*%^&&&%%^%%

NEXT_PUBLIC_BASE_URL=http://localhost:3000

CASHFREE_APP_ID=TESTge333489398t9yh9838tgy938948ty93t
CASHFREE_SECRET_KEY=e6rg46e6g46g646gg46eg465egr4ew6g56egerw
NEXT_PUBLIC_CASHFREE_MODE=TEST/PROD